.card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 147px;
    padding: 20px 10px 40px 10px;
    border-radius: 10px;
    background-color: var(--dark);
    gap: 20px;
}

.card-container h3{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}


.card-top {
    color: white;

}


.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    
    color: var(--lima);
}

.card-body p{
    font-size: 20px;
    font-weight: bold;
}