@import "tailwindcss";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: solid brown 1px; */
}

html {
  min-width: 280px;
  /* width: 100%; */
  height: 100dvh;
  /* height: 100dvh; */
  min-height: 640px;
  /* outline: solid brown 1px; */
}


:root {
  --lima: #C1FD35;
  --dark: #201F22;
  --lightDark: #3A393E;
}



body {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* overflow-y: scroll; */
   justify-content: space-between ;
  height: 100%;
  /* border: solid red 1px; */
  min-height: 640px;
  
}

main {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  justify-content: space-between ;
  width: 100%;
  /* height: 100dvh; */
  /* overflow-y: scroll; */
  /* height: 640px; */
  /* border: solid magenta 2px; */
}

