@import "tailwindcss";

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100dvh;
  border: solid brown 1px;
}


:root {
  --lima: #C1FD35;
  /* --lima: transparent; */
  --dark: #201F22;
  --lightDark: #3A393E;
}



body {
  display: flex;
  /* overflow-y: scroll; */
  flex-direction: column;
  height: 100dvh; 
  border: solid red 1px;

}

main {
  overflow-y: scroll;
  height: 100dvh;
  border: solid grey 1px;
}

/* main styles can be added here if needed */