.container {
  width: 100vw;
  height: 100dvw;
}

.background {
  display: flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100dvw;
  height: 950px;
  background-image: url("../../public/BannerMobile.png");
  background-repeat: no-repeat;
  background-position: 0 -45px;
  background-size: cover;
}

.landingTop {
  display: flex;
  align-items: flex-start !important;
  flex-direction: column;
  width: 100%;
  padding: 30px 0 0 20px;
  gap: 20px;
}

.landingTop>* {
  margin: 0;
}

.landingTop h1 {
  width: 190px;
  line-height: 1.2;
  color: white;
  font-size: clamp(20px, 5vw, 27px);
}

.landingTop p {
  color: var(--lima);
  font-size: clamp(12px, 5vw, 21.5px);
}

.landingBottom {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.landingBottomUp {
  width: 100%;
}

.landingBottomDown {
  position: relative;
  display: flex;
  width: 100%;
  height: 329px;
  border-radius: 25px 25px 0 0;
  background-color: var(--lima);
}

.landingBottomGroup {
  position: absolute;
  bottom: 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.divider {
  width: 28px;
  height: 4px;
  border: 0;
  background-color: var(--lima);
}


@media (min-width: 600px) {

  .background {
    height: 1200px;
    background-image: url("../../public/BannerTablet.png");
    background-position: 0 -85px;
  }

  .landingTop {
    display: flex;
    align-items: flex-start !important;
    flex-direction: column;
    width: 100%;
    padding: 60px 0 0 30px;
    gap: 20px;
  }

  .landingTop h1 {
    width: 418px;
    line-height: 1.2;
    color: white;
    font-size: 48px;
  }

  .landingTop p {
    color: var(--lima);
    font-size: 34px;
  }

  .hide,
  .divider {
    display: none;
  }

  .landingBottomDown {
    height: 400px;
  }

  .landingBottomGroup {
    bottom: 65px;
    gap: 20px;
  }
}


@media (min-width: 1024px) {

  .container {
    height: 100%;
  }

  .background {
    height: 100%;
    background-image: url("../../public/BannerDesktop.png");
    background-position: 0 -85px;
  }

  .landingBottomDown {
    height: 148px;
  }

  .landingBottomGroup {
    flex-direction: row;
    gap: 0px;
  }

}