.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 20px;
  background-color: var(--lightGrey);
  gap: 20px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  gap: 20px;
}

.content-button {
  display: none;
}

.table-wrapper {
  overflow-y: hidden;
  border-radius: 12px;
}

@media (min-width: 768px) {

  .content-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 64px;
    border-radius: 10px;
    background-color: var(--lima);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    gap: 20px;
  }


  .filter-icon:hover {
    color: var(--lima);

  }


  .content-button:hover {
    color: var(--lima);
    background-color: var(--button-back);
  }


}